{% extends "./base.html" %}
{% block title %}Books{% endblock %}
{% block content %}
<h1>Books</h1>
 {% if user.is_staff %}
 <a href="{% url 'new-book' %}">Add New Book</a>
 {% endif %}
{% if books %}
<h1>All Books</h1>
    {% for book in books %}
    <h2>Book Title: {{ book.title }}</h2>
    <h3>Author Name: {{ book.author }}</h3>
    <h3>Price: {{ book.price }}</h3>
    <h3>Quantity: {{ book.quantity }}</h3>
    {% endfor %}
{% else %}
<h3>No Books are avaialable</h3>
 {% if user.is_staff %}
 <a href="{% url 'new-book' %}">Add New Book</a>
 {% endif %}

{% endif %}
{% endblock %}