{% extends "./base.html" %}
{% block title %}Dashboard{% endblock%}

{% block  content%}
<h1>Dashboard</h1>
<h2>Welcome {{ full_name }}</h2>
<div>
    <div>
        <h1>Books Types</h1>
        <h2>{{ books_types }}</h2>
        <h1>Total Books</h1>
        <h2>{{ total_books }}</h2>
    </div>
    <div>
        <h3>Most quantity book: {{ max_quantity_book.title }} - {{ max_quantity_book.quantity }} books</p>
        <h3>Highest price book: {{ highest_price_book.title }} - ${{ highest_price_book.price }} per book</h3>
        <h3>Lowest price book: {{ lowest_price_book.title }} - ${{ lowest_price_book.price }} per book</h3>
    </div>
</div>
{% endblock  %}
